<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <div class="ion-text-start">
      
    </div>
  </ion-col>
  <form>
  <ion-item lines="full">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>

  <ion-row>
    <ion-col text-center >
      <ion-button type="submit" color="danger" expand="block">Conectar</ion-button>
      <div class="ion-text-center">
      <a  class="small-text " >Recordar Contraseña</a>
    </div>
    </ion-col>
  </ion-row>
</form>
</ion-content>
