<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<form class="ion-margin-vertical">
    <ion-item lines="full">
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary" >Registrar</ion-button>
    <ion-button expand="full" routerLink="/home" color="warning" >Atras</ion-button>
</form>
</ion-content>
